body {
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Press Start 2P', Consolas, monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/cover.jpg') center center/cover no-repeat;
}

@import './modules/gameboy';
@import './modules/modal';