body {
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: 'Press Start 2P', Consolas, monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/cover.jpg') center center/cover no-repeat;
}

.gameboy {
    border-radius: 5%;
    background-color: red;
    width: 320px;
    padding: 10px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9),
        inset 0 0px 15px rgba(0, 0, 0, 0.7);

    &__controlblock {
        display: flex;
        justify-content: space-between;
        margin: 50px 20px 50px 20px
    }

    &__keys {
        display: flex;
        justify-content: space-evenly;

        &_options {
            margin-top: 20px;
        }

        &_control {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-wrapper {
                display: flex;
            }
        }
    }

    &__cross-img {
        display: block;
        height: 20px;
        margin: 5px;
    }

    &__key {
        border-radius: 50%;
        background-color: yellow;
        border: 1px solid black;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

        &:active {
            box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.7);
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        &_option {
            height: 15px;
            width: 15px;
        }

        &-descr {
            margin-top: 5px;
            font-size: 10px;
        }

        &_control {
            height: 30px;
            width: 30px;
        }

        &_rotate {
            height: 50px;
            width: 50px;
        }
    }

    &__about {
        padding-left: 20px;
        padding-right: 20px;

        hr {
            border: none;
            height: 2px;
            color: black;
            background-color: black;
            color: black;
        }
    }

    &__links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 10px;

        li {
            padding: 0;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    #root {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #root h1 {
        color: black;
        font-size: 14px;
    }

    #root canvas {
        display: block;
        margin: 0;
        background-color: grey;
        box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.7);
    }


}