body {
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: 'Press Start 2P', Consolas, monospace;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: url("../img/cover.jpg") center center/cover no-repeat;
}

.gameboy {
  border-radius: 5%;
  background-color: red;
  width: 320px;
  padding: 10px;
  -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9), inset 0 0px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0px 30px rgba(0, 0, 0, 0.9), inset 0 0px 15px rgba(0, 0, 0, 0.7);
}

.gameboy__controlblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 20px 50px 20px;
}

.gameboy__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gameboy__keys_options {
  margin-top: 20px;
}

.gameboy__keys_control {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameboy__keys_control-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gameboy__cross-img {
  display: block;
  height: 20px;
  margin: 5px;
}

.gameboy__key {
  border-radius: 50%;
  background-color: yellow;
  border: 1px solid black;
  outline: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.gameboy__key:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.7);
}

.gameboy__key-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameboy__key_option {
  height: 15px;
  width: 15px;
}

.gameboy__key-descr {
  margin-top: 5px;
  font-size: 10px;
}

.gameboy__key_control {
  height: 30px;
  width: 30px;
}

.gameboy__key_rotate {
  height: 50px;
  width: 50px;
}

.gameboy__about {
  padding-left: 20px;
  padding-right: 20px;
}

.gameboy__about hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black;
  color: black;
}

.gameboy__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 10px;
}

.gameboy__links li {
  padding: 0;
}

.gameboy__links li a {
  text-decoration: none;
  color: black;
}

.gameboy #root {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gameboy #root h1 {
  color: black;
  font-size: 14px;
}

.gameboy #root canvas {
  display: block;
  margin: 0;
  background-color: grey;
  -webkit-box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0px 5px rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=style.css.map */